.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
schemas/
.idea/caches/
gradle/wrapper/gradle-wrapper.jar
